.container {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 60vh;
  text-align: center;
}

.image {
  width: 100vw;
  height: 60vh;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
}

.title {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: calc(50% - 158px / 2);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
