.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

.logo {
  width: max-content;
  height: max-content;
  margin-top: 60px;
  align-self: center;
}

.title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.title {
  font-size: var(--h1);
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--just-white);
}

.subtitle {
  margin-top: 25px;
  font-size: var(--p);
  font-style: normal;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.button {
  position: absolute;
  top: 270px;
  left: calc(50% - 246px / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: 246px;
  height: 48px;
  background-color: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: var(--p);
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
}

.button-icon {
  margin-left: 10px;
}
