:root {
  /* Colors */
  --bitcoin-orange: #ff9933;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a63f7; /*#1a9af7*/
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --subtitle: #717171; /*#757575*/
  --table-name: #787572; /*#b5b0ac*/
  --card-subtitle: #878787; /*#808080*/
  --card-text: #8e8e8e; /*#808080*/
  --off-white: #faf8f7;
  --just-white: #ffffff;

  /* Font size */
  --h1: 2.6rem;
  --h2: 2.4rem;
  --p: 1.6rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--dm-sans-font);
  font-size: var(--p);
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}
